<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="huinia.Properties.Settings.ITCompanConnectionString"
            connectionString="Data Source=DESKTOP-H7M7QVH\SQLEXPRESS02;Initial Catalog=ITCompan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>